{{! Change your comment system here, include:
	+ comment/disqus
	+ comment/googleplus
	+ comment/facebook
}}
<div id="comments">
   <div class="comments-inner-wrap">
	{{>comment/disqus}}
	</div>
</div>
