<footer id="pi-footer" class="background-image clearfix">
    <div class="pi-container">

    	<div class="footer-content">

            <div class="footer-column">
                <div class="widget">
                    <h4 class="widget-title">Contact us</h4>
                    <div class="text-italic">
                        <p>We would love to hear from you</p>
                    </div>
                    <div class="item-icon-left">
                        <i class="fa fa-envelope"></i>
                        <p><a href="mailto:hello@ongair.im">hello@ongair.im</a></p>
                    </div>
                    <div class="item-icon-left">
                        <i class="fa fa-map-marker"></i>
                        <p>Nairobi, Kenya - Silicon Savannah</p>
                    </div>
                    <div class="item-icon-left">
                        <i class="fa fa-phone"></i>
                        <p>+254 770381135</p>
                    </div>
                </div>
            </div>

		    {{! Mailchimp}}
		    <div class="footer-column">
			    <div class="widget">
			        <h4 class="widget-title">Be the first to know</h4>
			        <div class="text-italic">
			            <p>New articles sent straight to your email!</p>
			        </div>

                    
			        <form action="//ongair.us12.list-manage.com/subscribe/post?u=706289551349744c173bb5884&amp;id=5b33ff1cc1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
			            <div class="form-item">
			                <input id="mc-EMAIL" type="email" name="EMAIL" placeholder="Email address" class="form-control" required>
			            </div>
			            <div class="form-submit">
			                <input type="submit" value="Subscribe">
			            </div>
			        </form>
			    </div>
			</div>
		    {{! End Mailchimp}}

    		<div class="footer-column">
    			<div class="widget">
    				<h4 class="widget-title">Ongair User Manual</h4>
	                <div class="manual">
	                	<a href="https://ongair.gitbooks.io/ongair-user-manual/content/" target="_blank"><img src="../assets/images/manual.png"></a>
	                </div>
                </div>
            </div>

    	</div>

        <div class="copyright">
            <div class="text-left">
                <h4>Ongair</h3>
            </div>
         	<div class="text-right text-italic">
                <p>© 2015. all rights reserved</p>
            </div>
        </div>

    </div>
</footer>