<div class="pi-nav-page">

	{{#if prev}}
    <a href="{{page_url prev}}" class="new-post">Newer posts</a>
    {{/if}}

    {{#if next}}
    <a href="{{page_url next}}" class="old-post">Older posts</a>
    {{/if}}

</div>