<div class="page-search">
    <div class="tb">
        <span class="page-search-close">&times;</span>
        <div class="tb-cell">
            <form>
                <input type="search" name="search-keyword" id="search-keyword" value="Search and hit enter">
                <ul id="search-result" class="search-result"></ul>
            </form>
        </div>
    </div>
</div>