<div class="pi-sidebar">
    {{! Latest Posts}}
	<div class="widget postslisting">
        <h4 class="widget-title">Latest posts</h4>
        <div class="widget-list latest-posts">
    	  <div class="sidebox-content loading">
    	    <div class="loader">
    	      <i class="fa fa-spinner fa-spin"></i>
    	    </div>
    	  </div>
        </div>
	</div>
    {{! End Latest Posts}}

    {{! Twitter Feed}}
    <div class="widget">
        <h4 class="widget-title widget-title-style-1">Recent Tweet</h4>
        <div class="widget-tweet-content">
            <a class="twitter-timeline" href="https://twitter.com/ongair_" data-widget-id="666976294215811072">Tweets by @ongair_</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
    </div>
    {{! End Twitter Feed}}

</div>