{{! Begin of social icon list}}

    {{!Begin Social item}}
    <a href="#"> {{!Change href="#" to href="YOUR_SOCIAL_URL"}}
        <i class="fa fa-facebook"></i> Facebook
    </a>
    {{!End Social item}}

    {{!Begin Social item}}
    <a href="#">  {{!Change href="#" to href="YOUR_SOCIAL_URL"}}
        <i class="fa fa-twitter"></i> Twitter
    </a>
    {{!End Social item}}

    {{!Begin Social item}}
    <a href="#"> {{!Change href="#" to href="YOUR_SOCIAL_URL"}}
        <i class="fa fa-linkedin"></i> Linkedin
   </a>
    {{!End Social item}}
{{! End of social icon list}}